/*Cabeçalho*/
nav {
	color: white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
nav a {
	display: flex;
	justify-content: center;
	margin-top: 0.5rem;
}
nav a:first-child {
	margin-top: 0.5rem;
	margin-left: 1rem;
	justify-content: left;
	align-content: center;
	align-self: center;
}
#bemvindo{	
	background-color: white;
	border-radius: 50px;
	width: 20rem;
	padding: 0.5rem;
	margin-top: 1rem;
	text-align: center;
	display: grid;
	grid-template-columns: 0.35fr 1fr;
}
.head {
	background-color: #ffb800;
	margin: 0;
	width: 100%;
	padding-bottom: 1rem;
}

#bemvindo > div:nth-child(2) > span:nth-child(1) {
	font-size: 1rem;
}

#bemvindo > div:nth-child(2) > h5:nth-child(2) {
	font-size: 1rem;
}