<header class="head">
    <nav>
        <a routerLink="/sp02-menu-inicial">
            <img src="../../assets/images/icon-voltar.svg" alt="icone de voltar" />
        </a>
        <a>
            <h5>Menu</h5>
        </a>
    </nav>
    <section class="container-fluid" id="bemvindo">
        <img class="rounded-circle" src="../../assets/images/fotoPerfil.png" width="65" height="60">
        <div>
            <span>Bem-vindo de volta</span>
            <h5>Evert</h5>
        </div>
    </section>
</header>       