<body>
    <header>
        <nav>
            <a>
                <img src="[SP01]-introducao-ao-credito/icon-voltar.svg" alt="icone de voltar" />
            </a>
            <a>
                <h5>Crédito</h5>
            </a>
        </nav>
        <section class="container-fluid" id="bemvindo">
            <img class="rounded-circle" src="[SP01]-introducao-ao-credito/fotoPerfil.png" width="65" height="60">
            <div>
                <span>Bem-vindo</span>
                <h5>Evert</h5>
            </div>
        </section>
    </header>

    <main>
        <section class="content-box">
            <section class="container" alt="texto principal">
                <h4>Introdução ao Crédito</h4>
                <article class="container-md conteudo">
                    <br>
                    <h6>EMPRÉSTIMOS E FINANCIMENTOS</h6>
                    <p>
                        Crédito é sinônimo de confiança. O reconhecimento da boa
                        reputação. Por isso se diz: fulano tem crédito comigo. Significa
                        também a capacidade de honrar um compromisso, seja ele financeiro
                        ou não.
                    </p>
                    <p>
                        Crédito é, ainda, um contrato entre um consumidor – pessoa ou
                        empresa chamada de tomador ou devedor – e uma instituição
                        financeira – chamada credora. Nesse contrato, a instituição
                        oferece ao consumidor um valor que deverá ser devolvido em um
                        prazo determinado acrescido de juros. As operações de crédito são
                        divididas entre financiamentos e empréstimos.
                    </p>
                    <p>
                        No financiamento, o destino dos recursos é conhecido na
                        contratação. Por exemplo, os financiamentos CDC para a compra de
                        veículos, equipamentos e imóveis. Normalmente, os financiamentos
                        possuem prazo de pagamento maior, juros menores e o bem financiado
                        é utilizado como garantia do financiamento, sendo classificado
                        como uma alienação fiduciária.
                    </p>
                    <p>

                        Já no empréstimo, não se possúi um objetivo muito claro, além de
                        não possuir facilidades como baixos juros para financiamentos,
                        entretanto não se tem tantas burocracias como para o
                        financiamento, portanto sendo mais fácil conseguir o empréstimo,
                        no fundo sempre depende de qual é sua condição no momento e como
                        acredita que estará para receber uma proposta de crédito.
                    </p>
                </article>
                <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href= "[SP02] - Menu/Menu.html"><button href= "[SP02] - Menu/Menu.html" class="btn btn-warning d-grid gap-2 col-6 mx-auto" type="button">Avançar</button></a>
                    <a><button class="btn btn-warning d-grid gap-2 col-6 mx-auto" type="button">Entrar em Contato</button><br></a>
                </div>
            </section>
        </section>
    </main>
</body>