<main class="head">
  <section class="content-box">
  <div clas="container-fluid">
    <div class="row justify-content-center">
      <div class="col-6-sm">
        <div class="card cardImobiliario">
          <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
              <h2 class="m-1">Agora conte mais sobre o imóvel</h2>

              <div class="row">
                <div class="col-sm m-1">
                  <!--TIPO IMOVEL-->
                  <p>Tipo do Imóvel</p>
                  <div class="d-flex justify-content-start align-items-center">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="tipoDeImovel"
                        value="RESIDENCIAL"
                        ngModel
                        #tipoDeImovel="ngModel"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Residencial
                      </label>
                    </div>

                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="tipoDeImovel"
                        value="COMERCIAL"
                        ngModel
                        #tipoDeImovel="ngModel"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Comercial
                      </label>
                    </div>

                    <div
                      class="col-sm"
                      *ngIf="!tipoDeImovel.valid && tipoDeImovel.touched"
                    >
                      <div class="alert-danger text-center">
                        <p>Campo obrigatório!</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--QUANDO-->
              <div class="row">
                <div class="col-sm m-1 d-flex justify-content-start align-items-center">
                  <label class="form-label"
                    >Em quantos meses pretende adquirir o imóvel?</label
                  >
                  <input
                      type="text"
                      class="form-control"
                      ngModel
                      name="tempoCompraImovel"
                      #tempoCompraImovel="ngModel"
                    />
                </div>
              </div>

              <!--ESTADO IMÓVEL-->
              <div class="row">
                <div class="col-sm m-1">
                  <div class="d-flex justify-content-start align-items-center">
                    <label class="form-label"
                      >Qual a localização do imóvel?</label
                    >
                    <select
                      class="btn dropdown-toggle my-dropdown ml-1"
                      ngModel="BA"
                      name="localizacaoImovel"
                      #localizacaoImovel="ngModel"
                    >
                      <option *ngFor="let state of states">
                        {{ state }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>

              <!--VALOR IMOVEL-->
              <div class="row">
                <div class="col-sm m-1 d-flex align-items-center">
                  <label class="form-label">Qual o valor do imóvel?</label>
                  <input
                    type="text"
                    mask="separator.2"
                    thousandSeparator="."
                    prefix="R$"
                    autocomplete="off"
                    placeholder="R$"
                    class="form-control"
                    required
                    name="valorImovel"
                    ngModel
                    #valorImovel="ngModel"
                    [class.has-error]="
                      !valorImovel.valid && valorImovel.touched
                    "
                  />
                </div>
                <div
                  class="col-sm d-flex d-flex align-self-center"
                  *ngIf="!valorImovel.valid && valorImovel.touched"
                >
                  <div class="alert-danger text-center w-100">
                    <p>Campo obrigatório!</p>
                  </div>
                </div>
              </div>

              <!--VALOR FINANCIAMENTO-->
              <div class="row">
                <div class="col-sm m-1 d-flex align-items-center">
                  <label class="form-label">E o valor a financiar?</label>
                  <input
                    required
                    type="text"
                    mask="separator.2"
                    thousandSeparator="."
                    prefix="R$"
                    autocomplete="off"
                    id="valorFinanciamento"
                    placeholder="R$"
                    class="form-control"
                    name="valorFinanciamento"
                    ngModel
                    #valorFinanciamento="ngModel"
                  />
                </div>
                <div
                  class="col-sm d-flex d-flex align-self-center"
                  *ngIf="
                    !valorFinanciamento.valid && valorFinanciamento.touched
                  "
                >
                  <div class="alert-danger text-center w-100">
                    <p>Campo obrigatório!</p>
                  </div>
                </div>
              </div>

              <!--CONFIRMAÇÃO DA RENDA MENSAL-->
              <div class="row">
                <div class="col-sm m-1 d-flex align-items-center">
                  <label for="formGroupExampleInput" class="form-label"
                    >Sua renda mensal está correta?</label
                  >
                  <input
                    value="{{
                      client.clientMonthlyIncome
                        | currency: 'BRL':'symbol':'0.2-2':'pt'
                    }}"
                    readonly
                    class="form-control"
                    aria-label="default input example"
                  />
                  <input
                    type="button"
                    value="Atualizar"
                    class="btn formButton"
                    (click)="reviewData()"
                  />
                </div>
              </div>

              <!--PRAZO FINANCIAMENTO-->
              <div class="row">
                <div class="col-sm m-1 d-flex align-items-center">
                  <label for="formGroupExampleInput" class="form-label"
                    >Qual o prazo em anos?</label
                  >
                  <input
                    required
                    type="number"
                    autocomplete="off"
                    min="1"
                    max="35"
                    class="form-control"
                    name="prazoFinanciamento"
                    ngModel
                    #prazoFinanciamento="ngModel"
                  />
                </div>
                <div
                  class="col-sm d-flex d-flex align-self-center"
                  *ngIf="
                    !prazoFinanciamento.valid && prazoFinanciamento.touched
                  "
                >
                  <div class="alert-danger text-center w-100">
                    <p>Campo obrigatório!</p>
                  </div>
                </div>
              </div>

              <!--BOTAO ANALISE-->
              <div class="row">
                <div class="col-sm m-1">
                  <div class="d-flex justify-content-end">
                    <input
                      type="submit"
                      value="Analisar"
                      class="botaoTela"
                      [disabled]="!f.valid"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!--FEEDBACKS-->
        <div class="d-flex justify-content-center align-items-center">
          <div
            class="alert alert-danger m-2 text-center"
            style="width: fit-content"
            [hidden]="showNegate"
          >
            Desculpe, análise de crédito negada.
          </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <div
            class="alert alert-success m-2 text-center"
            style="width: fit-content"
            [hidden]="showSuccess"
          >
            Análise de crádito aprovada.
          </div>
        </div>

        <historico></historico>
      </div>

      <!--ATUALIZAR DADOS COMPONENT-->
      <div class="col-6-sm" *ngIf="showReviewData">
        <atualizar-dados></atualizar-dados>
      </div>
    </div>
  </div>
</section>
</main>
