.form-label {
    font-size: 12pt;
}

.form-check-input{
    margin: 6px 0px 0px -15px !important;
}

.my-dropdown{
    background-color: rgb(245, 245, 245) !important;
    border-color: rgba(252, 153, 38, 1) !important;
    border-width: 1px !important;
    color: black !important;
    
}

.dropdown-item:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:active, .my-dropdown:focus{
    border-color: rgba(252, 153, 38, 1) !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 153, 38, 0.25) !important;
}

.cardImobiliario{
    background-color: rgb(245, 245, 245)  !important;
    border-radius: 0.5cm !important;
    border-color: rgba(252, 153, 38, 1);
    border-width: 2px !important;
    max-width: 500px !important;
    min-width: 200px !important;
    margin-top: 1rem !important;
    margin-left: 0 auto !important;
    margin-right: 0 auto !important;
    align-self: center !important;
    text-justify: auto !important;
}

.formButton{
    height: 38px;
    border-color: rgba(252, 153, 38, 1);
    background-color: rgb(245, 245, 245)
}

.ng-invalid.ng-touched:not(form){
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 38, 38, 0.25) !important;
}

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Buda:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, main{
    background-color: rgb(252, 252, 252);
}

header{
    background-color: rgba(252, 153, 38, 1) !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

h1{
    background-color:rgba(252, 153, 38, 1);
    text-align: center;
    font-family: 'Buda', cursive;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;                
}

h2{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1.5rem;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}
h3{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1.2rem;
    font-weight: 1000;
    margin: 0;
    padding: 0;
}

h4{
    text-align: center;
    font-family: 'Roboto', cursive;
    font-size: 1.2rem;
    font-weight: 1000;
    padding: 0;
    margin: 0;
    float: left;
}

h5{
    text-align: start;
    font-family: 'Roboto', cursive;
    font-size: 1.2rem;
    font-weight: 1000;
    padding: 0;
    margin: 0;
    float: left;
}

a, label, .estiloTexto{
    text-align: center !important;
    font-family: 'Roboto', cursive !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 1000 !important;
}

p {
    font-family: 'Roboto', cursive !important;
    font-size: 1rem !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 1000 !important;
    align-self: center !important;
}

footer{
    text-align: center !important;
    bottom: 0 !important;
    width: 100% !important;
    margin-top: auto !important;
}

.tabela{
    max-width: 100% !important;
    text-align: center !important;
    margin-top: 20px !important;
}

.logo{
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.botaoTela {
    background-color: rgba(252, 153, 38, 1) !important;
    border: 1px solid rgba(196, 196, 196, 0.56) !important;
    font-family: "Roboto" !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-align: center !important;
    margin: 1px !important;
    width: 100px !important;
    height: 25px !important;
    border-radius: 25px !important;
}

.botaoTelaCinza {
    border: 1px solid rgba(252, 153, 38, 1) !important;
    font-family: "Roboto" !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-align: center !important;
    margin: 1px !important;
    width: 100px !important;
    height: 25px !important;
    border-radius: 25px !important;
}

.botaoMenu {
    background-color: rgba(252, 153, 38, 1) !important;
    color:black !important;
    font-family: "Roboto" !important;
    font-size: 16px !important;
    font-weight: bold !important;
    padding: 0 !important;
    text-align: center !important;
    margin: 1px !important;
    width: 230px !important;
    height: 35px !important;
    border-radius: 25px !important;
    align-self: center !important;
}

.botaoMenu:hover, .botaoTela:hover, .botaoTelaCinza:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

/*Botão no menu com cor diferente para indicar tela atual*/
.active{
    background-color: rgb(233, 185, 131)!important;
    border: rgba(233, 185, 131, 0.425) !important;
}

.card, .cardbody{
    background-color: rgb(247, 240, 232);
    border-radius: 0.5cm;
    max-width: 450px;
    min-width: 200px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.cardSaldo{
    background-color: rgb(247, 240, 232) !important;
    border-radius: 0.5cm !important;
    min-height: 25px !important;
    max-height: 50px !important;
    max-width: 420px !important;
    min-width: 200px !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    text-justify: auto !important;
}

.cardFiltro{
    background-color: rgb(245, 245, 245)  !important;
    border-radius: 0.5cm !important;
    border-color: rgba(252, 153, 38, 1);
    border-width: 2px !important;
    max-width: 420px !important;
    min-width: 200px !important;
    margin-top: 1rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    text-justify: auto !important;
}

.form-data, .form-control{
    max-width: 100px !important;
    min-width: 100px !important;
    border-radius: 5px !important;
    padding: 0px;
    margin: 5px;
}

.form-control:focus{
    border-color: rgba(252, 153, 38, 1) ;
    box-shadow: 0 0 0 0.2rem rgba(252, 153, 38, 0.25);
    
}

.form-value {
    max-width: 120px !important;
    min-width: 120px !important;
    border-radius: 5px !important;
    padding: 0px;
    margin: 5px;   
}

.form-data-final{
    margin-left: 12px;
}

.compoServico{
    margin-left: 26px !important;
    max-width: 150px !important;
    margin-top: 20px !important;
    margin-inline-start: 25px !important;
}

.navbar-toggler {
    /*outline não pode ser none, pois retira a acessibilidade com a tecla tab da página, mas
    substitui essa propiedade com a classe .navbar-toggler:focus */
    outline: none !important;
    box-shadow: none !important;
    padding: 3px !important;

} 

.navbar-toggler:focus {
    border: 2px solid rgb(168, 102, 26) !important;
} 

.icon{
    font-size: 30px;
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/

.head {
	background-color: #ffb800;
	margin: 0;
	width: 100%;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #ededed;
	border-radius: 3rem 3rem 0 0;
	height:100%;
}
#menu{
	display: grid;
	grid-template-columns: 0.35fr 1fr;
}
.content-box article {
	background-color: white;
	border-radius: 50px;
	padding: 1rem;
	width: 20rem;
	margin-bottom: 2rem;
}