.form-control{
    max-width: 450px !important;
} 

.cardForms{
    background-color: rgb(245, 245, 245)  !important;
    border-radius: 0.5cm !important;
    border-color: orange;
    border-width: 2px !important;
    max-width: 500px !important;
    min-width: 200px !important;
    margin-top: 1rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    text-justify: auto !important;
}

table{
    text-align: center !important;
    font-family: 'Roboto', cursive !important;
    font-size: 1rem !important;
    margin-top: 10px !important;
    font-weight: 1000 !important;
    
}

th{
    padding: 0 !important;
    vertical-align: middle;
}



