<div clas="container-fluid">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card cardForms">
        <div class="card-body">
          <h2 class="m-1">
            Histórico de solicitações de análise de crédito imobiliário
          </h2>

          <table
            class="table table-hover"
            *ngIf="solicitations$ | async as solicitations; else loading"
          >
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Valor a financiar</th>
                <th scope="col">Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitation of solicitations">
                <th>{{ solicitation.date | date: "dd/MM/yyyy" }}</th>
                <th>
                  {{
                    solicitation.loanValue
                      | currency: "BRL":"symbol":"0.2-2":"pt"
                  }}
                </th>
                <th>
                  <button
                    class="fa fa-info-circle btn btn-info m-1"
                    (click)="onEdit(solicitation)"
                  ></button>
                  <!-- <button class="fa fa-edit btn btn-warning m-1"></button> -->
                  <button
                    class="fa fa-times btn btn-danger m-1"
                    (click)="onDelete(solicitation)"
                  ></button>
                </th>
              </tr>
            </tbody>
          </table>

          <ng-template #loading>
            <p class="text-center">Carregando...</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #detelePopUp>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja excluir essa solicitação?</p>
    <button type="button" class="btn btn-warning" (click)="confirmDelete()">
      Sim
    </button>
    <button
      type="button"
      class="btn btn-secondary ml-1"
      (click)="declineDelete()"
    >
      Não
    </button>
  </div>
</ng-template>

<ng-template #editPopUp>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Detalhes da sua solicitação</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <atualizar-solicitacoes></atualizar-solicitacoes>
  </div>
</ng-template>
