<main class="head">
  <section class="content-box">
    <section>
      <h2>Que tal negociarmos a sua divida ?</h2>

      <div class="d-flex flex-column align-items-center">
        <div id="curve_chart" class=""></div>

        <form clas=" mb-3">
          <label for="formGroupExampleInput" class="form-label"
            >divida atualizada :</label
          >
          <span (click)="ocultar()" id="action" class="btn btn-light"
            ><img
              id="img-olho"
              value="olho"
              src="../../assets/images/EyeSlash.svg"
              alt="icone de visibilidade"
          /></span>
          <div class="test">
            <span *ngIf="mostrar" class="input-group-text"
              ><span id="saldoDevedor">
                {{ dividaAtual | currency: "BRL":"symbol":"0.2-2":"pt" }}</span
              >
            </span>
          </div>
          <section>
            <label for="formGroupExampleInput" class="form-label"
              >Número de parcelas desejada :</label
            >
            <input
              [(ngModel)]="qtParcelas"
              type="number"
              class="form-control"
              id="qtdParcela"
              placeholder="Número de parcelas"
              name="parcelas"
            />
            <!-- acima ngModel-->
          </section>
          <section>
            <label for="formGroupExampleInput" class="form-label"
              >Valor Mensal :</label
            ><br />
            <input
              class="btnValor"
              value="{{
                valorParcela() | currency: 'BRL':'symbol':'0.2-2':'pt'
              }}"
              type="text"
            />

            <!--  <input type="text" class="form-control" id="valorParcela" placeholder="Valor parcela" /> -->
          </section>

          <section class="vencimento">
            <label for="formGroupExampleInput" class="form-label"
              >selecione a data :</label
            ><br />
            <input
              name="vencimento"
              [min]="dateToString(today)"
              [max]="daysAdder(today, 15)"
              type="date"
            />
            <!-- estou modificando este input ( data)-->

            <!-- data do vencimento mensal, trocar apenas para dias pois desta forma da erro escolhendo dias que ja passou-->
          </section>

          <section>
            <button
              type="button"
              class="btn btn-warning d-flex"
              id="submit-button"
            >
              Negócio Fechado
              <img
                src="../../assets/images/hard-shake.svg"
                alt="icone de aperto de mão"
              />
            </button>
          </section>
        </form>
      </div>
    </section>
    <main>
      <div>
        <section>
          <label for="formGroupExampleInput" class="form-label"
            >Número de parcelas desejada :</label
          >
          <input
            [(ngModel)]="qtParcelas"
            type="number"
            class="form-control"
            id="qtdParcela"
            placeholder="Número de parcelas"
            name="parcelas"
          />
          <!-- acima ngModel-->
        </section>
        <section>
          <label for="formGroupExampleInput" class="form-label"
            >Valor Mensal :</label
          ><br />
          <input
            class="btnValor"
            value="{{ valorParcela() | currency: 'BRL':'symbol':'0.2-2':'pt' }}"
            type="text"
          />

          <!--  <input type="text" class="form-control" id="valorParcela" placeholder="Valor parcela" /> -->
        </section>

        <section class="vencimento">
          <label for="formGroupExampleInput" class="form-label"
            >selecione a data :</label
          ><br />
          <input
            name="vencimento"
            [min]="dateToString(today)"
            [max]="daysAdder(today, 15)"
            type="date"
          />
          <!-- estou modificando este input ( data)-->

          <!-- data do vencimento mensal, trocar apenas para dias pois desta forma da erro escolhendo dias que ja passou-->
        </section>

        <section>
          <button
            type="button"
            class="btn btn-warning d-flex"
            id="submit-button"
          >
            Negócio Fechado
            <img
              src="../../assets/images/hard-shake.svg"
              alt="icone de aperto de mão"
            />
          </button>
        </section>
      </div>
    </main>
  </section>
</main>
