.saldo-box{
  text-align: center;
}
.componentes {
  display: flex;
  justify-content: center;
}
.form-control{
  max-width: 1000px !important;
}
.vencimento{
margin-top: 4px;
}
#submit-button{
  margin-top: 8px;
 }
.termo{
   display: flex;
   right: 100px;
}


.head {
	background-color: #ffb800;
	margin: 0;
	width: 100%;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  	background-color: #ededed;
  	border-radius: 3rem 3rem 0 0;
    height:84vh;
}
#menu{
	display: grid;
	grid-template-columns: 0.35fr 1fr;
}
.content-box article {
	background-color: white;
	border-radius: 50px;
	padding: 1rem;
	width: 20rem;
	margin-bottom: 2rem;
}

.link{
	text-decoration: unset;
	color: black;
	
}
.content-box article:hover{
	text-decoration: unset;
	background-color: #ffb800;
	transition: 0.2s;
}