.cabecalho {
  background-color: #ffb800;
  padding: 0.5rem 0 10rem 0;
}
#body {
  background-color: #ededed;
  border-radius: 50px 50px 0px 0px;
}

main p {
  color: #000000;
  font-size: 12pt;
  margin-top: 2rem;
  font-weight: bold;
}

h1 {
  display: flex;
  justify-content: center;
  color: #000000;
  font-size: 2rem;
  text-align: center;
}

.form-label {
  font-size: 12pt;
}

.radio-options {
  display: flex;
  justify-content: space-around;
}

#botaoSubmit {
  text-align: center;
  margin: 4rem auto;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #ededed;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 250vh;
}

main section {
  color: #000000;
  font-size: 12pt;
  margin-top: 2rem;
  font-weight: bold;
}

h2 {
  color: #000000;
  font-size: 16pt;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
.head {
  background-color: #ffb800;
  margin: 0;
  width: 100%;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ededed;
  border-radius: 3rem 3rem 0 0;
  height: 100vh;
  min-width: 320px;
  justify-content: center;
}
#menu {
  display: grid;
  grid-template-columns: 0.35fr 1fr;
}
.content-box article {
  background-color: white;
  border-radius: 50px;
  padding: 1rem;
  width: 20rem;
  margin-bottom: 2rem;
}

.link {
  text-decoration: unset;
  color: black;
}
.content-box article:hover {
  text-decoration: unset;
  background-color: #ffb800;
  transition: 0.2s;
}

.form-section {
  text-align: center;
}
