<main class="head">
  <section class="content-box">
    <h1>Financiamento de Veículos</h1>
    <h2>Qual o tipo de veículo que você deseja?</h2>

    <section>
      <select id="veiculos" class="form-select">
        <option *ngFor="let veiculo of veiculos">{{ veiculo }}</option>
      </select>
    </section>

    <section class="form-section">
      <label for="formGroupExampleInput" class="form-label"
        >Ano do veículo</label
      >
      <input
        id="valor"
        class="form-control"
        type="text"
        placeholder="Digite o ano do veículo aqui"
      />
    </section>

    <section class="form-section">
      <label for="formGroupExampleInput" class="form-label"
        >Qual o valor do veículo desejado?</label
      >
      <div class="input-group mb-3">
        <span class="input-group-text">R$</span>
        <input
          id="valor-veiculo"
          type="text"
          class="form-control"
          mask="separator.2"
          thousandSeparator="."
          placeholder="0,00"
          [ngModel]="valorVeiculo | currency: 'BRL':true"
          (ngModelChange)="valorVeiculo = currencyInputChanged($event)"
        />
      </div>
    </section>

    <section class="form-section">
      <label for="formGroupExampleInput" class="form-label"
        >Marca do veículo</label
      >
      <input
        id="marca"
        class="form-control"
        placeholder="BMW, Ford, Chevrolet, Honda"
      />
    </section>

    <p>Novo ou usado?</p>

    <section class="radio-options">
      <input
        class="form-check-input"
        type="radio"
        id="novo"
        name="estadoDoCarro"
        value="novo"
      />
      <label
        class="form-check-label"
        style="padding-right: 15px; padding-left: 3px"
        for="flexRadioDefault1"
        >Novo</label
      >

      <input
        class="form-check-input"
        type="radio"
        id="usado"
        name="estadoDoCarro"
        value="usado"
      />
      <label
        class="form-check-label"
        style="padding-right: 15px; padding-left: 3px"
        for="flexRadioDefault1"
        >Usado</label
      >
    </section>
    <br />
    <button class="btn btn-warning mb-3" (click)="realizarPedido()">
      Realizar pedido
    </button>
  </section>
</main>
