<div clas="container-fluid">
  <div class="row">
    <div class="col-sm m-1">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!--TIPO IMOVEL-->
        <p>Tipo do Imóvel</p>
        <div class="d-flex justify-content-start align-items-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              value="RESIDENCIAL"
              name="immobileType"
              formControlName="immobileType"
            />
            <label class="form-check-label">
              Residencial
            </label>
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="immobileType"
              value="COMERCIAL"
              formControlName="immobileType"
            />
            <label class="form-check-label">
              Comercial
            </label>
          </div>
        </div>

        <!--QUANDO-->
        <div class="row">
          <div class="col-sm m-1">
            <label class="form-label"
            >Em quantos meses pretende adquirir o imóvel?</label>
            <input
            type="text"
            class="form-control"
            name="immobileBuyTime"
            formControlName="immobileBuyTime"
            />
          </div>
        </div>

        <!--ESTADO IMÓVEL-->
        <div class="row">
          <div class="col-sm m-1">
            <div class="d-flex justify-content-start align-items-center">
              <label class="form-label">Qual a localização do imóvel?</label>
              <select
                class="btn dropdown-toggle my-dropdown"
                name="immobileState"
                formControlName="immobileState"
              >
                <option *ngFor="let state of states">
                  {{ state }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <!--VALOR IMOVEL-->
        <div class="row">
          <div class="col-sm m-1 d-flex align-items-center">
            <label class="form-label">Qual o valor do imóvel?</label>
            <input
              type="text"
              mask="separator.2"
              thousandSeparator="."
              prefix="R$"
              autocomplete="off"
              placeholder="R$"
              class="form-control"
              required
              name="valorImovel"
              formControlName="immobileValue"
            />
          </div>
        </div>

        <!--VALOR FINANCIAMENTO-->
        <div class="row">
          <div class="col-sm m-1 d-flex align-items-center">
            <label class="form-label">E o valor a financiar?</label>
            <input
              required
              type="text"
              mask="separator.2"
              thousandSeparator="."
              prefix="R$"
              autocomplete="off"
              id="valorFinanciamento"
              placeholder="R$"
              class="form-control"
              name="loanValue"
              formControlName="loanValue"
            />
          </div>
        </div>

        <!--RENDA MENSAL NO MOMENTO DA SOLICITAÇÃO-->
        <div class="row">
          <div class="col-sm m-1 d-flex align-items-center">
            <label for="formGroupExampleInput" class="form-label"
              >Sua renda mensal no momento da solicitação de crédito:</label
            >
            <input
              class="form-control"
              name="monthlyIncome"
              formControlName="monthlyIncome"
            />
          </div>
        </div>

        <!--PRAZO FINANCIAMENTO-->
        <div class="row">
          <div class="col-sm m-1 d-flex align-items-center">
            <label for="formGroupExampleInput" class="form-label"
              >Qual o prazo em anos?</label
            >
            <input
              required
              type="number"
              autocomplete="off"
              min="1"
              max="35"
              class="form-control"
              name="loanTime"
              formControlName="loanTime"
            />
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm m-1 d-flex align-items-center">
            <p class="mr-1">Resultado da análise:</p>
            <div [ngClass]="{'green': solicitation?.loanStatus == true, 'red': solicitation?.loanStatus == false}">{{ solicitation?.loanStatus | loanStatus }}</div>
          </div>
        </div>

        <!--BOTAO ATUALIZAR-->
        <div class="d-flex justify-content-end">
          <button type="submit" class="botaoTelaCinza" (ngSubmit)="onSubmit()">Atualizar</button>
        </div>

      </form>

      <!--FEEDBACKS-->
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="alert alert-danger m-2 text-center"
          style="width: fit-content"
          [hidden]="showNegate"
        >
          Desculpe, análise de crédito negada.
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <div
          class="alert alert-success m-2 text-center"
          style="width: fit-content"
          [hidden]="showSuccess"
        >
          Análise de crádito aprovada.
        </div>
      </div>

    </div>
  </div>
</div>
