<main>
    <section class="saldo-box">
        <h2>Crédito Disponível</h2>
        <div class="saldo">
        <p id='container'>{{ saldoDisponivel[0].saldoDisponivel | currency: "BRL":"symbol":"0.2-2":"pt" }}</p>  
        <span id="action" class="btn btn-light"><img id="teste" value="olho" src="../../assets/images/EyeSlash.svg" alt="icone de visibilidade"></span>         
        </div>
    </section>

    <article>
        <form class="mb-3" >
            <label  for="formGroupExampleInput" class="form-label">Qual o valor que deseja?</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Número de parcelas" name="parcelas" />           

            <label  for="formGroupExampleInput" class="form-label">Quantidade de parcelas que deseja?</label>
            <input type="number" class="form-control" id="formGroupExampleInput" placeholder="Número de parcelas" name="parcelas" />         
              
            <div class="parcela-valor">
            <span class="parcela">Valor das parcelas:</span><p class="valor"> 2.000,00 </p>        
            </div> 
            <span class="btn-warning d-flex">Realizar Pedido</span>              
        </form>

    </article>
</main>
