<main class="head">
<section class="content-box">
<div class="container" style="margin-bottom: 5rem; margin-top: 2rem;">
  <div class="row text-center">
      <div class="col-lg-12 form-div">
          <p class="label">O que deseja financiar?</p>
          
          <mat-form-field class="select-body">
              <mat-label>Selecione</mat-label>
                <mat-select [(ngModel)]="selectedObj"
                            (ngModelChange)="onChange()">
                  <mat-option  *ngFor='let select of obj_financ' 
                  [value]="select.value">
                    {{select.optValue}}
                  </mat-option>
               </mat-select>
          </mat-form-field>

          <p *ngIf="required != false" class="error">
            * Favor preencher o campo acima.
          </p>
  
          <p class="label">Digite o valor da sua renda:</p>
          <mat-form-field class="input-body" appearance="outline">
            <mat-label>Valor R$</mat-label>
              <input class="input-body" appearance="outline" 
                    matInput placeholder="0,00"
                    [(ngModel)]='val_renda'>
          </mat-form-field>

          <p *ngIf="required != false" class="error">
            * Favor preencher o campo acima.
          </p>

          <p class="label">Valor que deseja financiar:</p>
          <mat-form-field class="input-body" appearance="outline">
            <mat-label>Valor R$</mat-label>
              <input class="input-body" appearance="outline" 
                    matInput placeholder="0,00"
                    [(ngModel)]='val_financ'>
          </mat-form-field>       

          <p *ngIf="required != false" class="error">
            * Favor preencher o campo acima.
          </p>

          <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="1" color="warn" 
                                (click)="ativaInput()">
                                <span class="radio-title">Com entrada</span> 
                  <mat-form-field appearance="outline">
                      <mat-label>Valor R$</mat-label>
                      <input [(ngModel)]='input_entrada' 
                             matInput placeholder="0,00"
                             [disabled]='option' class="inputE">
                  </mat-form-field>
              </mat-radio-button>
              <mat-radio-button value="2" color="warn" 
                                (click)="desativaInput()">
                                <span>Sem entrada</span>
              </mat-radio-button>
          </mat-radio-group>

          <p *ngIf="required != false" class="error">
            * Favor preencher o campo acima.
          </p>

          <p class="label">Quantidade de parcelas:</p>
          
          <mat-form-field class="select-body">
              <mat-label>Selecione</mat-label>
                <mat-select [(ngModel)]="selectedParc" 
                            >
                  <mat-option  *ngFor='let select of parcelas' 
                  [value]="select.value">
                    {{select.optValue}}
                  </mat-option>
               </mat-select>
          </mat-form-field>
          
          <p *ngIf="required != false" class="error">
            * Favor preencher o campo acima.
          </p>

          <!-- resultado da simulação -->
          <article [hidden]='val_prest == 0' id="article-result">
            <p>
              <span class="p-result-title">Valor da Prestação R$: </span> 
              <span class="p-result-value">{{val_prest.toFixed(2)}}</span>
              <br>
              <span class="p-result-title">Valor do financimento R$: </span> 
              <span class="p-result-value">{{mostra_financ}}</span>
              <br>
              <span class="p-result-title">Entrada R$: </span> 
              <span class="p-result-value">{{result_entrada}}</span>
              <br>
              <span class="p-result-title">Parcelas : </span> 
              <span class="p-result-value">{{mostra_parc}}</span>
              <br>
              <span class="p-result-title">Juros ao mês %: </span> 
              <span class="p-result-value">{{val_juros.toFixed(2)}}</span>
              <br>
              <span class="p-result-title">Juros a pagar R$: </span> 
              <span class="p-result-value">{{juros_pagar.toFixed(2)}}</span>
              <br> 
              <span class="p-result-value">{{result_renda}}</span>
              <br>
              <span class="p-result-title">Total do financimento R$: </span> 
              <span class="p-result-value">{{total_financ.toFixed(2)}}</span>
            </p>
            <br>
            <a [routerLink]='link'>Clique aqui para financiar agora!</a>
          </article>
          <br>
          <button mat-raised-button color="warn" class="button-ma"
                  (click)="validar()">
              Simular
          </button>
          <router-outlet></router-outlet>
      </div>
  </div>
</div>
</section>
</main>