.label{
    margin-top: 2.5rem !important;
    font-size: 1.2rem !important;
}

.form-div{
    box-shadow: 0 0 1em #c9c9c9;
    max-width: 20rem;
    margin:auto;
    padding-bottom: 2.5rem;
    border-radius: 8px;
}

/* .mat-radio-group{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
} */

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-radio-button span{
    font-size: .9rem;
}

.radio-title{
    vertical-align: -6px;
    margin-right: 5px;
}

/* botao */
.button-ma{
    display: block;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 50px 50px;
    background-color: rgba(252, 153, 38, 1);
}
/* select */
.select-body{
    width: 12rem;
    padding: .5rem;
    border-radius: 8px;
}

.select-body mat-label{
    font-size: 1rem;
}

.mat-select{
    font-size: 1rem;
}

/* error */
.error{
    color: red;
}
/* input */
.input-body{
    width: 16rem;
    padding: 0.1rem;
    border-radius: 8px;
}


.p-result-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.p-result-value{
    font-size: 1rem;
}

#article-result{
    padding: 1rem;
    border-radius: 8px;
    background-color: #f5f5f5;
    max-width: 30rem;
    margin: auto;
    text-align: justify;
}

@media (min-width: 576px) {
    .label{
        margin-top: 2rem !important;
        font-size: 1rem !important;
    }
    
    .form-div{
        box-shadow: 0 0 1em #c9c9c9;
        max-width: 35rem;
        margin:auto;
        padding-bottom: 2rem;
        border-radius: 8px;
    }
    
    .mat-radio-button ~ .mat-radio-button {
        margin-left: 16px;
    }

    .select-body{
        width: 20rem;
        padding: .5rem;
        border-radius: 8px;
    }
    
    .select-body mat-label{
        font-size: 1rem;
    }

    .input-body{
        width: 20rem;
        padding: .1rem;
        border-radius: 8px;
    }

    .p-result-title{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }

    .p-result-value{
        font-size: 1rem;
    }

}
.head {
	background-color: #ffb800;
	margin: 0;
	width: 100%;
}
.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #ededed;
	border-radius: 3rem 3rem 0 0;
	height:100%;
}
#menu{
	display: grid;
	grid-template-columns: 0.35fr 1fr;
}
.content-box article {
	background-color: white;
	border-radius: 50px;
	padding: 1rem;
	width: 20rem;
	margin-bottom: 2rem;
}
