.form-control{
    max-width: 450px !important;
} 

.cardForms{
    background-color: rgb(245, 245, 245)  !important;
    border-radius: 0.5cm !important;
    border-color: rgb(0, 0, 0);
    border-width: 2px !important;
    max-width: 500px !important;
    min-width: 200px !important;
    margin-top: 1rem !important;
    margin-left: 3rem !important;
    margin-right: 3rem !important;
    text-justify: auto !important;
}

.my-dropdown{
    background-color: rgb(245, 245, 245) !important;
    border-color: rgba(252, 153, 38, 1) !important;
    border-width: 1px !important;
    color: black !important;
    margin: 5px !important;
    
}

.dropdown-item:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:active, .my-dropdown:focus{
    border-color: rgba(252, 153, 38, 1) !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 153, 38, 0.25) !important;
}

.dropdown{
    margin: 5px;
}

.ng-invalid.ng-touched:not(form){
    border-color: red !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 38, 38, 0.25) !important;
}

.feedBackError{
    text-align: center;
    color: red;
    width: 100%;
}