<div clas="container-fluid">
  <div class="row justify-content-center">
    <div class="col">

      <div class="card cardForms">
        <div class="card-body">
        
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <h2>Atualize seus dados</h2>

            <!--NOME-->
            <div class="form-row" [class]="applyCssError('addressGroup.name')">
              <div class="form-group col-12">
                <label for="name">Nome</label>
                <input type="text" class="form-control" formControlName="name">
                <div class="feedBackError" *ngIf="isInvalidTouched('addressGroup.name')">
                  <p>Campo obrigatório!</p>
                </div>
              </div>
            </div>

            <div class="form-row">

              <!--NÚMERO DA CONTA-->
              <div class="form-group col-md-6">
                <label for="account">Número da conta</label>
                <input readonly type="text" class="form-control" formControlName="account">
              </div>

              <!--SENHA-->
              <div class="form-group col-md-6">
                <label for="inputPassword4">Senha</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Senha" formControlName="password">
              </div>
            </div>

            <!--EMAIL-->
            <div class="form-row">
              <div class="form-group col-12">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" formControlName="email">
              </div>
            </div>

            <div class="form-row">
              <!--CPF-->
              <div class="form-group col-6">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control" formControlName="cpf" mask="000.000.000-00||00.000.000/0000-00">
              </div>

              <!--RG-->
              <div class="form-group col-6">
                <label for="cpf">RG</label>
                <input type="text" class="form-control" formControlName="rg"  mask="00.000.000-00">
              </div>
            </div>

            <!--GRUPO DE ENDEREÇO-->
            <div formGroupName="addressGroup">
              <!--ENDEREÇO-->
              <div class="form-group">
                <label for="inputAddress">Endereço</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="Rua proway, nº 123" formControlName="address">
              </div>

              <!--COMPLEMENTO-->
              <div class="form-group">
                <label for="inputAddress2">Complemento</label>
                <input type="text" class="form-control" id="inputAddress2" placeholder="Apartamento, hotel, casa, etc." formControlName="complement">
              </div>

              <!--CIDADE-->
              <div class="form-row">
                <div class="form-group col-sm-6">
                  <label for="inputCity">Cidade</label>
                  <input type="text" class="form-control" id="inputCity" formControlName="city">
                </div>

                <!--ESTADO-->
                <div class="form-group col-sm-3">
                  <label for="inputAddress2">Estado</label>
                  <select class="btn dropdown-toggle my-dropdown" formControlName="state">
                    <option *ngFor="let state of states" [value]="state" >{{ state }}</option>
                  </select>
                </div>
                <!--
                <div class="dropdown">
                  <button class="btn dropdown-toggle my-dropdown" type="button" data-toggle="dropdown">
                  </button>
                  <div class="dropdown-menu">
                      <a class="dropdown-item" style="cursor: pointer;" *ngFor="let state of states" (click)="chooseState(state)"> {{ state }} </a>
                  </div>
                </div>-->

                <!--CEP-->
                <div class="form-group col-sm-3">
                  <label for="inputCEP">CEP</label>
                  <input type="text" class="form-control" id="inputCEP" formControlName="cep" mask="00.000-000">
                </div>
              </div>

              
            </div>

            <!--RENDA MENSAL-->
            <div class="form-row">
              <div class="col-md-12 mb-3">
                <label for="rendaMensal">Renda mensal</label>
                <input type="text" class="form-control" mask="separator.2" thousandSeparator="." prefix="R$" id="rendaMensal" placeholder="R$" formControlName="monthlyIncome">
              </div>
            </div>
            
            <!--BOTAO ATUALIZAR-->
            <div class="d-flex justify-content-end">
              <button type="submit" class="botaoTelaCinza" (ngSubmit)="onSubmit()">Atualizar</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>