<main>  
    <h2>Agora conte mais sobre o smartphone</h2>
    
    <p>Qual o smartphone?</p>
    
    <section id="teste">
      <select id="smartphones" class="form-select">
        <option value="smartphoneX" selected>Escolha:</option>
        <option value="iphone12">iPhone12</option>
        <option value="iphone11">iPhone11</option>
        <option value="iphone10">iPhone10</option>
        <option value="iphone8">iPhone8</option>
        <option value="samsungS20">Samsung Galaxy S20</option>
        <option value="samsungfold">Samsung Fold</option>
      </select>
    </section>

    <section class="foto">
      <img id="fotoSmartphone"  src="/[SP06]-Financiamento de Smartphone/img/smartphones.png" alt="Smarthones" >
    </section>

    <section class="perguntas">
      <h2>Quantidade de parcelas?</h2>
    </section>
       
    <select id= "parcelas" class="form-select" title="Escolha um smartphone acima" disabled>
      <option selected >Parcelas:</option>
      <option value="parcela1"></option>
      <option value="parcela2"></option>
      <option value="parcela3"></option>
      <option value="parcela4"></option>
      <option value="parcela5"></option>
    </select>

    <a id="botaoRealizarPedido" href=""><button type="button"  class="btn btn-warning">Realizar Pedido</button></a>
    
  </main>
