h1{
    text-align: center;
    color: aliceblue;
  }
  section{
    display: flex;
    flex-direction: column;
   
  }
  
  nav{
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
  }
  nav a {
   display: flex;
   justify-content: center;
  }
  nav a:first-child {
   margin-left: 1rem;
   justify-content: left;
   align-content: center;
   align-self: center;
  }
  nav a img {
   height: 1rem;
   width: 1rem;
  }
  
  nav {
   color: white;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
  }
  nav a {
   display: flex;
   justify-content: center;
  }
  nav a:first-child {
   margin-left: 1rem;
   justify-content: left;
   align-content: center;
   align-self: center;
  }
  nav a img {
   height: 1rem;
   width: 1rem;
   justify-content: space-between;
   align-items: flex-end;
  } 
  
  body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background: #FFB800; 
    overflow: hidden; 
  }
  
  header{ 
    display: grid;
    grid-template-columns: 1fr 11fr 1fr;
    align-items: center;
  }
  
  header h1 {
    overflow-wrap: normal;
    text-align: center;
    font-size: 18px;
    color:white;
  }
  
  header a {
    margin-left: 0.3rem;
  }
  
  header {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  header h1{
    font-size:20px;
    color:white;
  } 
  
  main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 4rem  4rem 0rem 0rem;
    background-color: rgb(212, 48, 48);
    height: 100vh;
  }
  
  main h2{
    
    margin: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight:bold;
  }
  
  main p{
    text-align: center;
    color: black;
    font-size: 20px;
    line-height: 1px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight:normal;  
  }
  
  main h2 {
    text-align: center;
  }
  
  .voltar{
    margin: 2% 90% 0% 0%
  }
  
  .foto{
    display: flex;
    justify-content: center;
    background-color:white;
  }
  
  
  .foto img{
    height: 150px;
    width:150px;
  
  }
  
  .form-select{
    width: 20%;
    margin: 2% 0% 1% 40%;
  }
  
  .btn-warning{
    width: 20%;
  
  }
  
  .smartphones{
    width: 10rem;
    margin: 2rem;
}

#parcelas{
    display: flex;
    justify-content: center;
}

.smartphoneSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.my-dropdown{
    background-color: rgb(245, 245, 245) !important;
    border-color: rgba(252, 153, 38, 1) !important;
    border-width: 1px !important;
    color: black !important;
    margin: 5px !important;
}

.dropdown-item:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:hover{
    background-color: rgba(252, 153, 38, 0.5) !important;
}

.my-dropdown:active, .my-dropdown:focus{
    border-color: rgba(252, 153, 38, 1) !important;
    box-shadow: 0 0 0 0.2rem rgba(252, 153, 38, 0.25) !important;
}

#selectParcelas{
    display: flex;
    justify-content: center;
}

#fazerPedido{
  display: flex;
  justify-content: center;
}

.head {
	background-color: #ededed;
	margin: 0;
	width: 100%;
}

body{
  background-color: #ffc107;
}

