<main class="head">
    <section class="smartphoneSection content-box">
      <section>
        <h2>Agora conte mais sobre o smartphone</h2>
      </section>

      <section>
        <article>
          <h2>Qual o smartphone?</h2>
        </article>
      </section>

      <section>
        <article>
          <img id="fotoSmartphone" class="smartphones" *ngIf="selection == ''" src='../../assets/images/smartphones.png'
            alt="Smartphones">
        </article>

        <article>
          <img [hidden]="selection != 'iPhone 12'" class="smartphones" src='../../assets/images/iphone12.png'
            alt="Smartphones">
          <img [hidden]="selection != 'iPhone 11'" class="smartphones" src='../../assets/images/iPhone 11.png'
            alt="Smartphones">
          <img [hidden]="selection != 'iPhone X'" class="smartphones" src='../../assets/images/iphone10.jpg'
            alt="Smartphones">
          <img [hidden]="selection != 'iPhone 8'" class="smartphones" src='../../assets/images/iphone8.png'
            alt="Smartphones">
        </article>

        <select class="btn my-dropdown" [(ngModel)]="selection">
          <option disabled value="">Selecione o smartphone</option>
          <option *ngFor="let smartphone of smartphones">{{ smartphone }}</option>
        </select>

      </section>

      <section>
        <article>
          <h2>Quantidade de parcelas?</h2>
        </article>

        <article id="parcelas">
          <select class="btn my-dropdown" *ngIf="selection == 'iPhone 12'">
            <option *ngFor="let parcela of parcelasIphone12">{{ parcela }}</option>
          </select>

          <select class="btn my-dropdown" *ngIf="selection == 'iPhone 11'">
            <option *ngFor="let parcela of parcelasIphone11">{{ parcela }}</option>
          </select>

          <select class="btn my-dropdown" *ngIf="selection == 'iPhone X'">
            <option *ngFor="let parcela of parcelasIphone10">{{ parcela }}</option>
          </select>

          <select class="btn my-dropdown" *ngIf="selection == 'iPhone 8'">
            <option *ngFor="let parcela of parcelasIphone8">{{ parcela }}</option>
          </select>
        </article>
      </section>

      <button id="fazerPedido" class="btn btn-warning" (click)="recarregarPagina()">Fazer pedido</button>
    </section>
</main>
